<div class="member-form"  >
    <div class="search-bar">
        <h1>Modifier un compte Utilisateur :</h1><br>
        <form #ff="ngForm" (ngSubmit)="onSubmit()">
            <label for="nom">Nom:</label><br>
            <input type="text" id="nom" name="nom" class="form-control" placeholder="aaaa" ngModel><br>

            <label for="prenom">Prenom:</label><br>
            <input type="text" id="prenom" name="prenom" class="form-control" placeholder="bbbb" ngModel><br>

            <label for="cin">Numéro CIN:</label><br>
            <input type="text" id="cin" name="numeroCarteIdentite" class="form-control" placeholder="12345678" disabled ngModel><br>

            <label for="Adresse">Adresse Email:</label><br>
            <input type="email" id="Adresse" name="email" class="form-control"
                placeholder="aaaa.bbbb@exemple.com" ngModel>

            <label for="Password" class="form-label mt-3">Mot De Passe</label>
            <input type="password" class="form-control" id="Password" name="motDePasse"  disabled ngModel>

            <input type="submit" class="btn btn-success m-3" value="Enregistrer">
            <input type="submit" class="btn btn-danger" value="Annuler">
        </form>
    </div>
</div>