<form #ff="ngForm" class="member-form" *ngIf="fc">
    <label for="id">ID Utilisateur</label>
    <input type="text" id="id" name="id" [(ngModel)]="x" disabled>
  
    <label for="pc">Pc à Affecter</label>
    <select name="pc" id="pc" [(ngModel)]="selectedOption">
      <option *ngFor="let pc of lesPcs" [value]="pc.id">{{ pc.modele }}</option>
    </select><br>
  
    <input type="submit" value="Enregistrer" class="btn btn-success m-2" (click)="onAffecte()">
    <input type="submit" value="Annuler" class="btn btn-danger" (click)="onAnnule()">
  </form>
  