    <div *ngIf="lesDemandes.length>0 ;else bloc"> 
        <table class=" table table-stripped">
            <thead>
                <th scope="col">ID_Demande</th>
                <th scope="col">Nom Et Prenom</th>
                <th scope="col">Date Demande</th>
                <th scope="col">Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let i of lesDemandes">
                    <td scope="row">{{i.id}}</td>
                    <td scope="row" class="text-right">
                        <span *ngFor="let user of users">
                            {{ user.id == i.id_user ? user.nom + ' ' + user.prenom : '' }}
                        </span>
                    </td>
                    <td scope="row">{{ i.date_demande }}</td>
                    <td><button class="btn btn-danger btn-sm " (click)="onRefuse(i)">Refuser la Demande </button>
                        <button class="btn btn-success btn-sm m-2" (click)="onAccepte(i)" >Accepter la Prolongation d'accés</button>
                </tr>
            </tbody>
        </table>
        </div>
        <ng-template #bloc>
            <h1>Pas De Demandes De Prolongation De PCs!</h1>
        </ng-template>