<div class="member-form"  >
    <div class="search-bar">
        <h1>Modifier un PC :</h1><br>
        <form #ff="ngForm" (ngSubmit)="onSubmit()">
            <label for="modele">Modele:</label><br>
            <input type="text" id="modele" name="modele" class="form-control"  disabled ngModel><br>

            <label for="ram">Ram:</label><br>
            <input type="number" id="ram" name="ram" class="form-control"  ngModel><br>

            <label for="stockage">Stockage :</label><br>
            <input type="number" id="stockage" name="stockage" class="form-control"  ngModel><br>

            <label for="processeur">Processeur:</label><br>
            <input type="text" id="processeur" name="processeur" class="form-control"  ngModel>

            <label for="dispo" class="form-label mt-3">Disponible</label>
            <input type="text" class="form-control" id="dispo" name="dispo"  disabled ngModel>

            <input type="submit" class="btn btn-success m-3" value="Enregistrer">
            <input type="submit" class="btn btn-danger" value="Annuler">
        </form>
    </div>
</div>