
<div *ngIf="demande.length>0 ;else bloc"> 
<table class=" table table-stripped">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let i of demande">
            <td scope="row">{{i.id}}</td>
            <td>{{i.nom}}</td>
            <td>{{i.prenom}}</td>
            <td><button class="btn btn-danger btn-sm m-2" (click)="onRefuse(i)">Refuser la Demande </button>
                <button class="btn btn-primary btn-sm" (click)="onAffecter(i)" >Affecter un Pc</button></td>
        </tr>
    </tbody>
</table>
<app-affecte-pc *ngIf="fc"></app-affecte-pc>
</div>
<ng-template #bloc>
    <h1>Pas De Demandes De PCs!</h1>
</ng-template>