
<div *ngIf="lesDemandes.length>0 ;else bloc"> 
    <table class=" table table-stripped">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Pc Affecté</th>
            <th scope="col">Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let i of lesDemandes;let x=index">
                <td scope="row">{{i.id}}</td>
                <td>{{i.nom}}</td>
                <td>{{i.prenom}}</td>
                <span *ngFor="let pc of lesPcs">
                <td>{{pc.id==i.id_pc ? pc.modele:"-"}}</td>                            
                <td *ngIf="dispo"><input type="date" [(ngModel)]="date_fin"></td>
            </span>
                <td><button class="btn btn-danger btn-sm " (click)="onRefuse(lesDemandes[x])">Refuser la Demande </button>
                    <button class="btn btn-success btn-sm m-2" (click)="onAccepte(lesDemandes[x],lesPcs[x])" >Donner l'acces</button>
                    <button class="btn btn-primary btn-sm" [disabled]="dispo" (click)="onAjoute()" >Choisir la date</button></td>
            </tr>
        </tbody>
    </table>
    </div>
    <ng-template #bloc>
        <h1>Pas De Demandes De Prolongation De PCs!</h1>
    </ng-template>